<div class="container">
  <h1> 
    Create a Restaurant
  </h1>
  <%= simple_form_for @restaurant do |f|  %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant::CATEGORIES %>
  <br>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to 'Restaurants', restaurants_path, class: "btn btn-primary" %>
</div>